<div class="row">
<h1>Listings for cinema name {{}}</h1>

<button class="btn btn-success" ng-click="dateNightsEdit.update()">Add to my date</button>

<ul ng-controller="ShowtimesCtrl as showtimes">
  <li id= "movieNames" class ="col-sm-12" ng-repeat="movie in showtimes.movies.movietimes">
    <h2>{{ movie.title }}</h2>

        <ul>

          <li id="times" ng-repeat="time in movie.times" class="col-sm-4">

             <p ng-click="dateNightsEdit.addFilm(movie.title, time)" ng-class="{ 'selected': dateNightsEdit.dateNight.cinema.showTime === time && dateNightsEdit.dateNight.cinema.film === movie.title }">{{time}}</p>

          </li>

        </ul>

      </li>

    </ul>
  </div>
