<div ng-controller="DateNightsEditCtrl as dateNightsEdit" class="container">
  <google-map cinemas="cinemas.all" ng-if="main.currentUser.$resolved && cinemas.date" user="main.currentUser" date-person="cinemas.date" center="cinemas.center" radius="cinemas.radius" selected="cinemas.selected"></google-map>
  <div style="width:100%">
   <input type="range" min="1000" max="10000" value="5000" ng-model="cinemas.radius">
  </div>

  <div ng-show="cinemas.info.cinemaId" class="row">
    <h1>Listings for: {{cinemas.selected.name}}</h1>

    <button class="btn btn-success" ng-click="dateNightsEdit.update()">Add to my date</button>

    <ul>
      <li id= "movieNames" class ="col-sm-12" ng-repeat="movie in cinemas.movies.movietimes">
        <h2>{{ movie.title }}</h2>
        <ul>
          <li id="times" ng-repeat="time in movie.times" class="col-sm-4">
           <p ng-click="dateNightsEdit.addFilm(movie.title, time)" ng-class="{ 'selected': dateNightsEdit.dateNight.cinema.showTime === time && dateNightsEdit.dateNight.cinema.film === movie.title }">{{time}}</p>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>
