<div class="form">
   <form name="register.registerForm" ng-submit="register.submit()" novalidate>
     <div>
       <label for="username">Username</label>
       <input type="text" required name="username" id="username" ng-model="register.user.username">
       <div ng-messages="register.registerForm.username.$error" ng-show="register.registerForm.$submitted || register.registerForm.username.$touched" role="alert">
         <div ng-message="required">Username is required.</div>
       </div>
     </div>
     <div>
       <label for="address">Address</label>
       <input type="text" g-places-autocomplete ng-model="register.user.address" required name="address" id="address">
       <div ng-messages="register.registerForm.address.$error" ng-show="register.registerForm.$submitted || register.registerForm.address.$touched" role="alert">
         <div ng-message="required">Address is required.</div>
       </div>
       <input type="hidden" name="latitude">
       <input type="hidden" name="longitude">
     </div>
     <div>
       <label for="email">Email</label>
       <input type="email" required name="email" id="email" ng-model="register.user.email">
       <div ng-messages="register.registerForm.email.$error" ng-show="register.registerForm.$submitted || register.registerForm.email.$touched" role="alert">
         <div ng-message="required">Email is required.</div>
         <div ng-message="email">A valid email address is required.</div>
     </div>
      </div>
     <div>
       <label for="password">Password</label>
       <input type="password" required name="password" id="password" ng-model="register.user.password">
       <div ng-messages="register.registerForm.password.$error" ng-show="register.registerForm.$submitted || register.registerForm.password.$touched" role="alert">
         <div ng-message="required">Password is required.</div>
       </div>
     </div>
     <div>
       <label for="passwordConfirmation">Password Confirmation</label>
       <input type="password" required name="passwordConfirmation" id="passwordConfirmation" ng-model="register.user.passwordConfirmation">
       <div ng-messages="register.registerForm.passwordConfirmation.$error" ng-show="register.registerForm.$submitted || register.registerForm.passwordConfirmation.$touched" role="alert">
         <div ng-message="required">A Password Confirmation is required.</div>
       </div>
     </div>
     <button class="button" ng-disabled="register.registerForm.$invalid">Register</button>
   </form>
 </div>
