<!DOCTYPE html>
<html ng-app="dateApp">
<head>
  <meta charset="utf-8">
  <base href="/">
  <title>Dinner &amp; A Movie</title>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDfhMcvyXqnc1SJ-fShGvO6_iAD45aU6mo&libraries=places,geometry"></script>
  <link href="https://fonts.googleapis.com/css?family=Didact+Gothic" rel="stylesheet">
  <!-- inject:js -->
  <!-- endinject -->
  <!-- inject:css -->
  <!-- endinject -->
</head>
<body ng-controller="MainCtrl as main" ng-class="main.pageName">
  <div class="menu" ng-click="main.menuIsOpen = !main.menuIsOpen" ng-class="{ 'open': main.menuIsOpen }">
  <!-- toggles between class of open and not -->
    <div class="burger">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

</div>


<nav class="navbar navbar-default" role="navigation">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" ng-click="main.isNavCollapsed = !main.isNavCollapsed">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/">Dinner <span class="heart">&hearts;</span> A Movie</a>
    <a class="navbar-brand" href="/">Dinner and a Movie</a>
  </div>
  <div class="collapse navbar-collapse" uib-collapse="main.isNavCollapsed">
    <ul class="nav navbar-nav">
      <li><a ui-sref="dateNightsIndex">All Dates</a></li>
      <li><a ui-sref="dateNightsNew">Add a New Date</a></li>
      <li ng-if="!main.isAuthenticated()"><a ui-sref="login">Login</a></li>
      <li ng-if="!main.isAuthenticated()"><a ui-sref="register">Register</a></li>
      <li ng-if="main.isAuthenticated()"><a ui-sref="usersShow({ id: main.currentUserId })">Profile</a></li>
      <li ng-if="main.isAuthenticated()"><a ng-click="main.logout()" href="#">Logout</a></li>
    </ul>
  </div>
</nav>

  <div class="container">
    <div class="alert alert-info" ng-if="main.message">{{ main.message }}</div>
    <div class="alert alert-info" ng-if="main.user">{{ main.user }}</div>
    <main ui-view></main>
  </div>
</body>
</html>
