

body {
  font-family: 'Didact Gothic', sans-serif;
  background-image: url('/images/background.png');
  background-position: center;
  background-size: auto;
  background-repeat: repeat;
  text-transform: uppercase;
  letter-spacing: 1px;
  
}

.navbar-header {
  background-color: white;
}

.collapse {
  background-color: white;
}

.heart {
  font-size: 15px;
}

.container {
  background-color: white;
  min-height: 100%;
  max-width: 1095px;
}

.google-map {
  margin-top: 15px;
  height: 600px;
  width: 100%;
  background-color: grey;
}

img {
  max-width: 100%;
}

.selected {
  border: 1px solid dodgerblue;
}
