
$red: red;
$main-color: #FF999C;
$white: white;
$blue: #8AE9FF;
$transparent-blue: rgba(138, 233, 255, 0.3);

// ------------------------Global Styles-------------------------------------------
.centered-styles {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

body {
  font-family: 'Poppins', sans-serif;
}

.menu {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  cursor: pointer;
  z-index: 3;
  .burger {
    width: 20px;
    height: 15px;
    @extend .centered-styles;
    span {
      display: block;
      position: absolute;
      height: 3px;
      width: 100%;
      background-color: $main-color;
      border-radius: 3px;
      opacity: 1;
      left: 0;
      transform: rotate(0deg);
      transition: all 0.25s ease-in-out;
      &:nth-child(1) {
        top: 0px;
      }
      &:nth-child(2),
      &:nth-child(3) {
        top: 6px;
      }
      &:nth-child(4) {
        top: 12px;
      }
    }
  }
  &.open {
    .burger {
      span {
        background-color: $main-color;
        &:nth-child(1),
        &:nth-child(4) {
          top: 6px;
          width: 0%;
          left: 50%;
        }
        &:nth-child(2) {
          transform: rotate(45deg);
        }
        &:nth-child(3) {
          transform: rotate(-45deg);
        }
      }
    }
  }
}

nav {
  > div {
    z-index: 2;
    width: 100%;
    position: absolute;
    top: 0;
    background-color: rgba(0, 0, 0, 0.9);
    transition: all 0.3s ease-in-out;
    text-align: center;
    &.right {
      background-color: rgba(0, 0, 0, 0.25);
      top: -100%;
    }
    .links {
      // @extend .centered-styles;
      ul {
        background: none;
        float: right;
        margin: 20px 60px 0 0;
        li {
          line-height: 1.5;
          list-style: none;
          color: white;
          a {
            font-size: 20px;
            color: white;
            text-decoration: none;
            display: block;
            font-weight: bold;
            &:hover {
              color: $main-color;
              // animation: pulse 0.75s infinite;
              background: none;
            }
            &.active {
              color: white;
              opacity: 0.7;
              animation: none;
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
  &.open {
    .right {
      top: 0;
    }
  }
}
// -----------------------------------------Home Page----------------------------
.home-page {
  overflow-y: hidden;
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), url('/images/homepage.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  h1 {
    @extend .centered-styles;
    color: $white;
    font-size: 60px;
    font-weight: bold;
    letter-spacing: -3px;
  }
}
// -------------------------------------------Index Page------------------------
.all-dates {
  width: 100%;
  height: 100%;
  .left {
    width: 40%;
    top: 0;
    left: 0;
    height: 100vh;
    position: absolute;
    background-image: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.25)), url('/images/popcorn-movie-party-entertainment.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .row {
    width: 60%;
    margin: 5% -5% 5% 0;
    right: 0;
    float: right;
    h2 {
      font-weight: bold;
    }
    // background-color: blue;
  }
}


body {
  &.cinemas {
    margin: 3% 0;
    .left {
      width: 40%;
      // left: 0;
      position: fixed;
      .google-map {
        margin-top: 15px;
        height: 600px;
        width: 100%;
        background-color: grey;
      }
      .slider {
        width: 100%;
        margin-top: 1%;
        h4 {
          display: inline;
        }
        input {
          display: inline;
        }
      }
    }
    .right {
      width: 50%;
      margin: 5% -5% 5% 0;
      right: 0;
      float: right;
      .scrollable {
        height: 500px;
        overflow: scroll;
        background-color: $blue;
        margin: 1% 0;
        border-radius: 5%;
      }
    }

  }
}


img {
  max-width: 100%;
}

.selected {
  border: 1px solid dodgerblue;
}

////  login Page  ////
.logBtns {
  margin-left: 33%;
}


.datesIndex {
  width: 100%;
  height: 100%;
  .left {
    width: 40%;
    top: 0;
    left: 0;
    height: 100vh;
    position: absolute;
    background-image: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), url('/images/flower.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .row {
    width: 60%;
    margin: 5% -5% 5% 0;
    right: 0;
    float: right;
    h2 {
      font-weight: bold;
    }
  }
}
.datePic {
  max-width: 250px;
  max-height: 250px;
  border-radius: 50%;
}

.date {
  float: left;
}

.datesContent {
  margin-left: -45%;
}

h2 {
  font-family: 'Poppins', sans-serif;
  color: #88dcef;
}

a {
      color: $blue;
    }

// -------------------------------------------New Date--------------------
#newDate {
  width: 100%;
  height: 100%;
  .left {
    width: 40%;
    top: 0;
    left: 0;
    height: 100vh;
    position: absolute;
    background-image: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.25)), url('/images/setTable.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .row {
    width: 60%;
    margin: 5% -5% 5% 0;
    right: 0;
    float: right;
    h2 {
      font-weight: bold;
      margin-left: 25%;
      margin-top: 10%;
    }
    // background-color: blue;
  }
}
      .mainform {
        // border: 1px solid grey;
        border-radius: 5%;
        padding: 30px;
        background-color: $transparent-blue;
        color: white;
      }
    .button {
      background: none;
      color: $blue;
      border: none;
      padding: 5px 20px;
      margin-left: 35%;
      margin-top: 10%;
      font-size: 25px;
      font-weight: bold;
        &:hover {
          background: none;
          color:$main-color;
          animation: pulse 1s;
      }
    }
    // background-color: blue;
//come back to styling the image upload button

//----------------------------------login----------------------------------------
.login {
    width: 100%;
    height: 100%;
    .left {
      width: 40%;
      top: 0;
      left: 0;
      height: 100vh;
      position: absolute;
      background-image: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.25)), url('/images/popcorn-movie-party-entertainment.jpg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
    .row {
      width: 60%;
      margin: 5% -5% 5% 0;
      right: 0;
      float: right;
      h2 {
        font-weight: bold;
        margin-top: 10%;
      }
      h3 {
        color: grey;
        font-size: 15px;
        text-align: center;
      }
      .register {
        font-size: 15px;
        &:hover {
          background: none;
          color: $main-color;
        }
      }
      // background-color: blue;
    }
  .loginForm {
    border-radius: 5%;
    padding: 40px;
    background-color: $transparent-blue;
    color: white;
  }


}




// --------------------------------Animations-------------------------------------
  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.05);
    }
    100% {
      transform: scale(1);
    }

  }
