<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h2>Edit Your Date</h2>
      <form name="editForm.editDate" ng-submit="dateNightsEdit.update()"  novalidate>
        <div class="form-group">
          <label for="name">Name of Date</label>
          <input type="text" class="form-control" name="name" id="name" ng-model="dateNightsEdit.dateNight.nameOfDate" required/>
          <div ng-messages="editForm.editDate.name.$error" ng-show="editForm.editDate.$submitted || editForm.editDate.name.$touched || editForm.editDate.name.$empty" role="alert">
            <div ng-message="required">Date's Name is required.</div>
          </div>
        </div>
        <div class="form-group">
          <label for="when">When's the Date?</label>
          <input type="date" class="form-control" name="when" id="when" ng-model="dateNightsEdit.dateNight.when">
        </div>
        <div class="form-group">
          <label for="base64">Image</label>
          <input type="file" base64 name="base64" id="image" ng-model="dateNightsEdit.dateNight.base64">
        </div>
        <div class="form-group">
          <label for="name">Which Cinema Did you go to</label>
          <input type="text" class="form-control" name="cinema.name" id="cinema.name" ng-model="dateNightsEdit.dateNight.cinema.name">
        </div>
        <div class="form-group">
          <label for="name">Which Film Did You See</label>
          <input type="text" class="form-control" name="film" id="film" ng-model="dateNightsEdit.dateNight.cinema.film">
        </div>
        <div class="form-group">
          <label for="name">Which Restaurant did you go to?</label>
          <input type="text" class="form-control" name="restaurant" id="restaurant" ng-model="dateNightsEdit.dateNight.restaurant.name">
        </div>
        <div class="form-group">
          <label for="comments">How was the Date?</label>
          <span uib-rating ng-model="dateNightsEdit.dateNight.rating" max="5" read-only="false"></span>
          <textarea type="text" class="form-control" name="comment" id="comments" ng-model="dateNightsEdit.dateNight.comments"></textarea>
        </div>
        <button role="button" class="btn btn-primary" ui-sref="dateNightsShow({ id: dateNightsEdit.DateNight.id })">Cancel</button>
        <button class="btn btn-success" ng-disabled="editForm.editDate.$invalid">Update</button>
      </form>
    </div>
  </div>
</div>
