<div class="all-dates">
  <div class="left"></div>
  <div class="row">
    <h2>other dates</h2>
    <div ng-repeat="dateNight in dateNightsIndex.all" class="col-md-12">
      <img ng-src="{{ dateNight.imageSRC}}">
      <a ui-sref="dateNightsShow({ id: dateNight.id })"><h2>who? {{ dateNight.nameOfDate }}</h2></a>
      <p>when? {{ dateNight.when | date: 'dd-mm-yyyy'  }}</p>
      <p>which cinema? {{ dateNight.cinema.name }}</p>
      <p>which restaurant? {{ dateNight.restaurant.name }}</p>
      <p>who created the date? {{ dateNight.createdBy }}</p>
      <div>How was the date?
        <span uib-rating ng-model="dateNightsIndex.rating" max="10" read-only="true"></span>
      </div>
    </div>
  </div>
</div>
