<div class="row">
  <div class="col-md-6">
    <h2>{{ dateNightsShow.dateNight.nameOfDate }}</h2>
    <img ng-src="{{ dateNightsShow.dateNight.imageSRC }}">


    <p>{{ dateNightsShow.dateNight.when | date: 'dd-mm-yyyy' }}</p>
    <p> {{ dateNightsShow.dateNight.cinema.name }}</p>
    <p> {{ dateNightsShow.dateNight.cinema.film }}</p>
    <p> {{ dateNightsShow.dateNight.cinema.showTime }}</p>
    <p> {{ dateNightsShow.dateNight.restaurant.name }}</p>
    <div>
      <span uib-rating ng-model="dateNightsShow.dateNight.rating" max="10" read-only="true"></span>
    </div>
    <a ui-sref="dateNightsEdit({ id: dateNightsShow.dateNight.id })" class="btn btn-primary">Edit</a>
    <a ui-sref="cinemas({ id: dateNightsShow.dateNight.id })" class="btn btn-primary">Add Cinema</a>
    <a ui-sref="restaurants({ id: dateNightsShow.dateNight.id })" class="btn btn-primary">Add Restaurant</a>
    <button ng-click="dateNightsShow.open()" class="btn btn-danger">Delete</button>
  </div>
</div>
